#cabecera, #pie, a{
    color: white;
}

.CS{
    padding: 5px;
    border: 0; 
    color: white;
    background: none;
    cursor: pointer;
    position:relative;
    font-weight: bold;
    text-align : center;
    left: auto; 
    font-size: medium;
}


.titulo{
    font-size: 100px;
    font-family: helvetica;
    font-weight: bolder;
    margin-top: 100px;
    text-align: center;
}

#navegacion{
    
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    text-align: left;
}

#navegacion li{
    list-style: none;
    padding: 5px;
    display: inline-block
}

.link{
    color: white;
    text-decoration: none;
}

#pie{
    margin-top: auto;
    text-align: center;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
}

.cursos{
    font-size: 85px;
    text-align: center;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
}

.is{
    padding: 5px;
    color: white; 
    text-align: right;
    position: absolute;
    right: 10px;
    top: 15px;
    bottom: 5px; 
}

.mostrar_vi{
    padding: 10px;
    color: white;
    background: turquoise;
    width: 320px;
    margin : auto;
    display: block;
    border-radius: 3px;
    cursor: pointer;
}

.viajes{
    color :white; 
    font-family: Helvetica;
    text-align: left;
    font-weight: bold;
}

.viajes li{
    list-style: none;
    display: block;
    padding: 10px;
}

.datos1, .planetas{
    outline: none;
    padding: 20px;
    margin: 30px auto;
    width: 300px;
    border-radius: 3px;
    border: 1px solid grey;
    margin-bottom: 30px;
}

.MV{
    padding: 10px;
    color: white;
    background: turquoise;
    width: 320px;
    margin : 30px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;  
    margin-right: 100px;  
}

.fecha{
    color: white;
    font-family: Helvetica;
    text-align: left;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 0;
}

.identificador{
    outline: none;
    padding: 20px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid grey;
    margin-bottom: 10px;
    margin-top: 0;
    margin: auto;
}

.tabla{
    color: white;
}
